html, body{
    background-color: #D4F1F4;
}
@font-face {
    font-family: Roboto;
    src: url(../Roboto-Regular.ttf);
}
.body{
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-spacing: 0;
}
.calcGrid{
    display: grid;
    grid-template-rows: 10% 25% 65%;
    font-weight: 500;
    box-shadow: 10px 10px #05445E;
    background-color: rgba(117,230,218,0.3);
    color:  #05445E;
    height: 750px;
    width: 550px;
    border: 15px solid #189AB4;
    border-spacing: 0;
    border-radius: 20px;
}
.top{
    display:flex;
    padding: 0px 20px;
    border: thick solid #189AB4;
    grid-row: 1;
    border-spacing: 0;
    justify-content: flex-end;
    align-items: flex-end;
}
.screen{
    border: thick solid #189AB4;
    grid-row: 2;
    padding: 0px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    word-wrap: break-word;
    border-spacing: 0;
}
#screenText{
    display: flex;
    white-space: initial;
    word-wrap: break-word;
    font-size: 36px;
}
.buttonWrap{
    border: thick solid #189AB4;
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(6,16.67%);
    border-spacing: 0;
}
.buttons{
    border: thin solid #189AB4;
    border-spacing: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    transition: 50ms ease-in-out;
}
.buttons:hover{
    background-color: #75E6DA;
}
.buttons:active{
    font-size: 20px;
    background-color: rgba(117,230,218,0.7);
}